.loadMoreBtn {
  background-color: rgb(5, 23, 94);
  border: 1px solid rgba(13, 249, 245, 0.5);
  padding: 8px 12px;
  border-radius: 3px;
  color: whitesmoke;
}

.loadMoreBtn:hover {
  background-color: rgba(13, 249, 245, 0.5);
  border-color: rgb(5, 23, 94);
  color: rgb(5, 23, 94);
}